[Desktop Entry]
Version=1.0
Type=Application
Name=QWall
Exec=QWall
Icon=QWall
Categories=Qt;Utility;
Comment=Simple Wallpaper Downloader app
Terminal=false
